<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<settings>
			<setting name="JavaScriptServices.ViewEngine.Http.JssEditingSecret" value="test" />
		</settings>
		<!--<sites>
			<site patch:before="site[@name='website']"
	            inherits="website"
	            name="sitecore-demo"
	            hostName="sitecore-demo.dev.local"
	            rootPath="/sitecore/content/sitecore-demo"
	            startItem="/home"
	            database="master" />
		</sites>-->
		<javaScriptServices>
			<apps>
				<app name="LighthouseLifestyle"
		            sitecorePath="/sitecore/content/Demo SXA Sites/LighthouseLifestyle"
		            useLanguageSpecificLayout="true"
		            graphQLEndpoint="/sitecore/api/graph/edge"
		            inherits="defaults"
		            serverSideRenderingEngine="http"
		            serverSideRenderingEngineEndpointUrl="https://824eae6ab059.ngrok.io/api/editing/render"
		            serverSideRenderingEngineApplicationUrl="http://localhost:3000"
		        />
			</apps>
		</javaScriptServices>
		<layoutService>
			<!-- Disable JSON / enable HTML serialization for all MVC renderings -->
			<serializableRenderingTypes>
				<viewRendering>
					<patch:delete />
				</viewRendering>
				<controllerRendering>
					<patch:delete />
				</controllerRendering>
			</serializableRenderingTypes>
			<!--<configurations>
				<config name="jss">
					<rendering>
						<renderingContentsResolver>
							<IncludeServerUrlInMediaUrls>false</IncludeServerUrlInMediaUrls>
						</renderingContentsResolver>
					</rendering>
				</config>
			</configurations>-->
		</layoutService>
	</sitecore>
</configuration>
